.discriprion{
    display:inline-block;
    width: 1069.9px;
    height: 60px;
    left: 184.1px;
    top: 30px;
}
.discriprion__text {

}
.discription__icon {
}
.menu__list_link {
}
.discription__text_name {
}
.discrription__text_paragraph {
}
